API_ENV=development     # development | production

API_NAME=API for Multi OAuth with React Native
API_DOMAIN=http://api-multi-oauth-react-native-test.carlosloureiro.xyz
API_PORT=3000           # With docker-compose the nginx will proxy from port 80 to 3000
API_SECRET=SECRET       # Secret that will be used to JWT secret and BCrypt salt to user password

MYSQL_HOST=localhost    # With docker-composer in Windows and MacOS if your mysql server is localhost, you must set as host.docker.internal
MYSQL_USER=root
MYSQL_PASS=123
MYSQL_BASE=app

# In production environment this api is started in more than one instance with Docker Swarm
# It means we can't save it in the self container memory because the session data will not be shared between the instances.
# Thefore Redis is used to store the sessions from the api out of the api instances. (DON'T NEED TO ME DEFINED IN DEVELOPMENT ENV)
REDIS_HOST=localhost
REDIS_PASS=123

CLIENT_DOMAIN=https://web-version-app.carlosloureiro.xyz
CLIENT_SALT=SALT        # Salt used to encode the data in query param parsed to client via http or deeplink (must be same in client to decode)

SENTRY_DSN=https://000000000000000.ingest.sentry.io/000000000

GOOGLE_CLIENT_ID=CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=SECRET

FACEBOOK_CLIENT_ID=00000000000000000000
FACEBOOK_CLIENT_SECRET=SECRET

TWITTER_CONSUMER_KEY=00000000000000000000
TWITTER_CONSUMER_SECRET=SECRET
